html, body {
    margin:0;
    padding:0;
}

body {
    width:80%;
    margin:0 auto;
}

header { padding:50px; }
header nav { font-size: 24px; text-align: center;  }
header nav a { text-decoration: none ; color:#000; display: inline-block; margin:0 30px;}
header nav a.active { color:#404040; text-decoration: underline }
header nav a:hover { text-decoration: underline }

hr {
    border:0
    botder-bottom:1px solid #404040;
}

 /* form  */
input[type=text] {
    width:100%;
    padding:5px;
    font-size:24px;
    border:1px solid #404040;
    border-radius:5px;
    text-align: center
}

input[type=text]:focus {
    outline: 0;
}

.notice {
    padding:10px 20px; 
    text-align: center;
    font-size:18px;
    border:3px solid transparent;
    border-radius:4px;
    margin-bottom: 20px;
}

.notice.error {
    color:#f00;
    border-color:#f00;
}

.notice.ok {
    color:#0f0;
    border-color:#0f0;
}

/* lsit */

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    margin: 1em;
    line-height: 1.3;
  }
  
  dt {
    position: relative;
    grid-column: 1;
    font-weight: bold;
    overflow: hidden;
  }
  
  dd {
    grid-column: 2;
    margin-left: 0;
  }
  
  dt::after {
    position: absolute;
    top: 0.6em;
    width: 100%;
    margin-left: 0.75em;
    border-bottom: 1px dotted #888;
    content: '';
  }


  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }